<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Login</title>

<link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
<div id="layout"  style="padding: 100px 0 180px 30px;">
	<div class="login-box">
		<H2>Login</H2>
		&nbsp;Welcome!
		<br />
		<br />
		<form id="form">
			<div class="login-box-name" style="margin-top:10px;">account:</div>
			<div class="login-box-field" style="margin-top:10px;"><input name="account" class="form-login require" id='account' title="Username" value="" size="30"/></div>
			<div class="login-box-name">Password:</div>
			<div class="login-box-field"><input name="password" type="password" class="form-login require" id="password" title="Password" value="" size="30" maxlength="2048" /></div>
			<input type="submit" name="submit" id="login" value="">
			
			<br>
			<span>no account? please <a href="/register">register</a></span>
		</form>
		
	</div>
</div>
<script type="text/javascript" src="/javascripts/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/javascripts/jquery.validate.js"></script>
<script type="text/javascript">
	$(function(){
		jQuery.validator.addMethod("stringCheck", function(value, element) {           
		    return this.optional(element) || /^[a-zA-Z0-9_]+$/.test(value);           
		}, "只能包括英文字母、数字和下划线"); 
		$("#form").validate({
			rules: {
				account: {
					required: true,
					stringCheck:true,
					minlength: 2,
					maxlength:10
				},
				password: {
					required: true,
					minlength: 5,
					maxlength:16
				}
			},
			messages: {
				account: {
					required: "Please enter a username",
					stringCheck: "only contain English,number and _线",
					minlength: "Your username must consist of at least 2 characters",
					maxlength: "Your username must consist of at most 10 characters"
				},
				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long",
					maxlength: "Your password must be at most 16 characters long"
				}
			},
			focusInvalid: false,
			submitHandler:function(){
					var acc = $('#account').val();
					var psd = $('#password').val();
					var data = {'account':acc,'password':psd};

					$.ajax({
						url:'/login',
						type:'post',
						data:data,
						success:function(data,status){
							if(status == 'success'){
								if(data.code == 404){
									alert(data.message)
								}
								else{
									location.href = 'index';
								}
							}
						},
						error:function(data,status){
							alert($.parseJSON(data.responseText).message);
						}
					});
			}
		});
		
	});
	
</script>
</body>
</html>
